<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <div class="container-fluid">
    <!-- Brand -->
    <a class="navbar-brand fw-bold" href="{% url 'home' %}">AndrewsCRM</a>

    <!-- Toggler for mobile -->
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <!-- Navbar links -->
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
        {% if user.is_authenticated %}
          <li class="nav-item">
            <a class="nav-link text-uppercase" href="{% url 'add_record' %}">Add Record</a>
          </li>
          <li class="nav-item">
            <a class="nav-link text-uppercase" href="{% url 'logout' %}">logout</a>
          </li>
        {% else %}
          <li class="nav-item">
            <a class="nav-link text-uppercase" href="{% url 'register' %}">Register</a>
          </li>
          <li class="nav-item">
            <a class="nav-link text-uppercase" href="{% url 'home' %}">Login</a>
          </li>
        {% endif %}
      </ul>
    </div>
  </div>
</nav>
